<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма</title>
</head>
<body>
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                <a href="/contacts/">Контакты</a>
            </li>
            <li>
                <a href="/results/">Результаты</a>
            </li>


   HI !!!
<form method="post">
        <p>Введите имя нового контакта</p>
        <input type="text" name="input_name">
        <p>Введите статус нового контакта</p>
        <input type="text" name="input_status">
        <p>Введите телефонный номер нового контакта</p>
        <input type="text" name="input_phone">
        <br>
        <br>
        <button type="submit">Создать новый контакт</button>

    </form>
    <br>
</body>
</html>